# Default ignored files
/../../73. Set Matrix Zeroes /.idea/shelf/
/../../73. Set Matrix Zeroes /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../73. Set Matrix Zeroes /.idea/httpRequests/
# Datasource local storage ignored files
/../../73. Set Matrix Zeroes /.idea/dataSources/
/../../73. Set Matrix Zeroes /.idea/dataSources.local.xml
